.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.dataTable{
    margin-top: 25px;
    box-shadow: 3px 5px 11px -6px #000000;
}